.sidebar {
  width: 200px;
  background-color: #151a2f;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebarlist {
  margin-top: 25px;
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.sidebaritem {
  position: relative;
  color: #ffffff;
}

.sidebaritem:hover {
  background-color: #555d77;
  transition: all 0.5s;
}

.sidebaritem_active {
  background-color: #555d77;
  color: #fff !important;
}

.sidebaricon {
  width: 25px;
  margin-right: 15px;
}

.sidebar a,
.sidebar a:hover,
.sidebar a:focus {
  color: #fff;
  text-decoration: none !important;
  background-color: transparent !important;
  font-size: 1.1em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.userimage {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
}


.userimage img {
  width: 20%;
}

.connections {
  /* position: absolute; */
  /* bottom: 10px; */
  width: 100%;
  z-index: 10;
  text-align: center;
  font-size: 0.8em;
  color: #fff;
}

.connections p {
  margin-bottom: 2.5px;
  margin-top: 2.5px;
}

.custom_progress {
  height: 10px !important;
  width: 100% !important;
  margin-left: 0% !important;
  margin-bottom: 2.5px !important;
}

.rectround {
  background-color: #D58920;
  position: absolute;
  right: -2px;
  width: 10px;
  top: 0;
  height: 100%;
  border-radius: 2.5px;
}

.sidebar-section-container {
  padding: 10px;
}

#a-tag-button-wrapper{
  padding-left: 0;
}

.stopStartButton {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 10px;
  color: #000000;
  transition: background-color 0.01s linear;
}

.stopStartButton:hover {
  background-color: #f3f3f3;
}

.stopStartButton:active {
  background-color: #efefef;
}

.indicator {
  padding: 10px 0 0;
  width: 100px;
  color: #fff;
}

@keyframes flashing {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.indicatorCircle {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background-color: #0a0;
  height: 10px;
  width: 10px;
  border-radius: 20px;
}

.-green {
  background-color: #0a0;
}

.-yellow {
  background-color: #ff0;
  animation-name: flashing;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.-red {
  background-color: #f00;
}

.new-version {
  color: #f00;
  text-align: center;
  padding-top: 10px;
}

