.transactions {
  padding-top: 5px;
  position: relative;
}

.transactions .panel-body {
  min-height: 50vh;
}

.transactions .bottomButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transactions .btn_load_more {
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  background-color: #efefef;
  color: #000;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.transactions .btn_load_less {
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  background-color: #efefef;
  color: #000;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  border: 1px solid rgba(0,0,0,0.4);
}

.-grey-btn-hover {
  background-color: #efefef;
  transition: background-color 0.01s linear;
}

.-grey-btn-hover:hover {
  background-color: #f3f3f3;
}

.-grey-btn-hover:active {
  background-color: #efefef;
}

.transactions .selectfield {
  position: absolute;
  right: 35px;
  top: 5px;
  width: 100px;
}

.transactions .selectfield select {
  font-size: 0.9em;
}

.transactions_table {
  margin-top: 20px;
  overflow-y: auto;
}

.transactions .title {
  font-size: 1.1em;
  font-weight: 700;
}

.transactions_table .desc1 {
  font-size: 1em;
}

.transactions_table .desc2 {
  font-size: 0.9em !important;
  color: #757575 !important;
}

.transactions_table .desc3 {
  font-size: 0.9em;
}

.transactions_table .desc_p {
  font-size: 1em;
  color: #ffc107;
}

.transactions_table .desc_c {
  font-size: 1em;
  color: #4caf50;
}

.transactions_table .desc_o {
  font-size: 1em;
  color: #f44336;
}

.transactions_table .header {
  font-weight: 400;
  margin-bottom: 0px;
}

.transactions_table .stripped {
  background-color: #fafafa;

}

.transactions_table .trans_row {
  cursor: pointer;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.transactions_table .trans_col {
  padding: 10px !important;
}

.transactions_table .trans_bottom {
  border-top: 1px solid rgba(0,0,0,0.1);
  cursor: default !important;
  display: none;
}
