@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-material-design/dist/css/bootstrap-material-design.css";
@import "~bootstrap-material-design/dist/css/ripples.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import "styles/Sidebar";
@import "styles/BalanceBanner";
@import "styles/About";
@import "styles/Security";
@import "styles/Home";
@import "styles/Receive";
@import "styles/Send";
@import "styles/Transactions";
@import "styles/Settings";
@import "styles/Config";
@import "styles/Downloads";

html,
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

*:focus {
  outline: none !important;
  border-color: inherit;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.my_wrapper {
  padding-left: 200px;
  padding-top: 25px;
  padding-right: 0;
  height: calc(100vh - 150px);
  overflow-x: hidden;
}

.splash-image-container {
  z-index: 1000;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s linear, z-index 1.5s ease-in;
}

.splash-image {
  width: 20%;
  max-width: 300px;
}

.splash-image-container.-disappear {
  opacity: 0;
  z-index: -1000;
}

.snack {
  position: fixed;
  bottom: -50px;
  left: 200px;
  right: 0;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  text-align: center;
}

.my_wrapper {
  width: 95%;
  margin-left: 2.5%;
}

.mancha {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 400px;
  padding: 20px 20px 5px;
  transform: translate(-50%,-50%);
}

.dialog .header {
  border-bottom: 1px solid #a1be5a;
}

.dialog .header .title {
  font-size: 1.3em;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.dialog .body {
  padding-top: 25px;
}

.dialog .body .desc {
  font-size: 1em;
  color: #000 !important;
}

.dialog .body .desc2 {
  font-size: 1em;
  color: #bdbdbd !important;
}

.dialog .footer {
  text-align: center;
  padding-top: 15px;
}

.dialog .footer .button {
  display: inline-block;
  width: 100px;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.dialog .footer .btn_cancel {
  background-color: #bdbdbd;
}

.dialog .footer .btn_confirm {
  background-color: #a1be5a;
}

.dialog .inpuText {
  font-size: 1em !important;
}

.dialog .inpuText::-webkit-input-placeholder {
  font-size: 1em !important;
}
